@model DataAccess.Entity.Genre
@{
    ViewData["Title"] = "AddGenre";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="AddGenre" asp-controller="Genre" method="post">

    <div class="form-group">
        <label for="exampleInputEmail1">Tür Adı</label>
        <input asp-for="GenreName" type="text" class="form-control" placeholder="Tür adı giriniz">
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
