@model DataAccess.Entity.Week
@{
    ViewData["Title"] = "DeleteWeek";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="panel">
            <div class="alert alert-danger">
                <form method="post">
                    <h2 > Tarihi silmek istediğinizden emin misiniz?</h2>
                    <span>Silmek istediğinize emin misiniz?</span>
                    <a asp-controller="Week" asp-action="Index" type="submit" class="btn btn-danger"> evet sil</a>
                </form>
            </div>
        </div>
    </div>
</div>
