@model DataAccess.Entity.Week
@{
    ViewData["Title"] = "UpdateWeek";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="UpdateWeek" asp-controller="Week" method="post">
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <span asp-validation-for="FirstDay" class="text-danger"></span>
        <input asp-for="FirstDay" class="form-control" />
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <span asp-validation-for="LastDay" class="text-danger"></span>
        <input asp-for="LastDay" class="form-control" />
    </div> <!-- form-group// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Güncelle  </button>
    </div> <!-- form-group// -->
</form>



